@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box; /* border 의 넓이도 해당 개체의 width값에 포함이 됨 */
}

body {
  font-family: 'Montserrat', sans-serif; /* button, inputbox 내에 font는 시스템 폰트 적용 */
}
.frame {
  border: 1px solid #eeeeee;
  width: 300px;
  margin-top: 50px;
  overflow: hidden; /* 하위 개체가 float 속성을 가지고 있다면 overflow 속성으로 높이값 확보 */
}

.frame div {
  border: 1px solid red;
  float: left;
  height: 100px;
  width: 100px;
}

section.about {
  color: #fff;
  background: crimson;
}
/* 모바일 영역 */
@media (max-width: 768px) {
  /* media 쿼리 사용 시 선택자를 동일하게 맞춰야 적용이 됨. */
  section.about {
    color: #000;
    background: yellowgreen;
  }
}